body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  
}

.container {
  /* max-width: 400px; */
  width: 30%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  color: #1877f2;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #1877f2;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #145dcb;
}
